body{
    overflow-x: hidden;
}
.NavbarIMG{
    background-image: url(../../uploads/999.jpg);
    background-color: transparent;
    background-size: cover;
    /*height: 830px;*/
/*    background-color: black;
    opacity: 0.8;*/
    padding: 0 0 60px;
     
}
.loginRegister{
    background: #111d27;
    opacity: 0.8;
      /*  background: rgb(0, 0, 0);*/
}
.GirisQeydiyyat li{
    display: inline-block;
    margin-top: 12px;
    margin-left: 11px;
    font-size: 18px;
    font-weight: 600;
    color: #fe5d4c;
}
.GirisQeydiyyat li a{
    color: #fe5d4c;
    text-decoration: none; 
}
.social li{
    display: inline-block;
    float: right;
    margin: 10px;
    font-size: 20px;
}



.social li a{
    color: #fe5d4c;

}



/*//navbar*/
.navbar{
    height: 170px;
}
.navbar-toggle .icon-bar:nth-of-type(2) {
    top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
    top: 6px;
    transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
    background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
    top: -6px;
    transform: rotate(-45deg);
}

.navbarLogo img {
    margin-right: 30px;
    width: 50px;
    margin-top: -10px;
}

.navbarLeft {
    float: left;

}
.navbarLeft li a:hover{

   background: transparent;
   /*text-decoration: underline;*/
   border-bottom: 3px solid #fe5d4c;
   transition: 0.5s ease-out;
}
.navbarLeft li a{
    color: white;
    font-size: 20px;
     font-weight: 600;
  
}
.navbarRight {
    float: right;
}
.icon-bar{
    background-color:#fe5d4c !important;
}


/*Otaq yoldaşı axtar!*/


.Umumiaxtaris{
    margin-top: 30px;
}
.search{
    background: #111d27;
    opacity: 0.8;
    padding: 25px 0 50px 0;
    /*height: 505px;*/
}
.sel1 , .sel2 , .sel3{
  color: white;
}
.searchText{
    color: white;
    font-weight: 600;
    padding: 0px 30px;
}
.form-group{
    padding: 0 30px;
}
.ElaveetButonu{
  padding: 0 28px;
}
.YaddaSaxla{
    margin-top: 15px;
}

.nomre {
  padding: 0;
}
/*.otaqSayi{
  margin-top: 8px;
}*/
.nomre994 , .nomrereqem{
  padding: 4px 2px;
}

.searchBotton{
  margin-bottom: 15px;
}

.qaydalar{
 padding: -10px;

}
.qaydalar h2{
  color: red;
  text-align: center;

}
.qaydalar li{
  color: white;
}


.YaddaSaxla button{
    background: none;
    border: 2px solid #fe5d4c;
   
}
.YaddaSaxla button a{
        color: white;
    font-weight: 600;
    font-size: 16px;
   text-transform: uppercase;
    line-height: 1;
    display: inline-block;
    padding: .75em .9375em;
    text-decoration: none; 

}




.rege {
  position: absolute;
  top: 171px;
  display: none;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle {
  height: 50px;
  border-left: none;
}
.input-group .form-control:focus {
  outline: none;
  border-color: #ccc;
  box-shadow: none;
}
.input-group-addon:first-child {
  background: white;
}
.glyphicon {
  color: #fe5d4c;
}
.araMesafesi {
  margin-top: 20px;
}
.helli {
  font-size: 16px;
  color: grey;
}
.black {
  color: grey;
  font-size: 10px;
}
.bow11 {
  width: 100%;
  height: 170px;
}

.orange{
     background:#fe5d4c;
     height: 50px;
    
}

.footer{
    background: #0a1923;
    height: 100px;
    text-align: center;
}

.FoutureText p{
color: white;
padding-top:43px;
}