body{
    padding: 0;
    margin: 0;
	overflow-x: hidden;


}
.paddingMargin1{
    padding: 0;
    margin: 0;
}


.NavbarIMG{
	/*background-image: url(../images/home-1.jpg);*/

	background-color: transparent;
	background-size: cover;
    /*height: 830px;*/
/*    background-color: black;
    opacity: 0.8;*/
    padding: 0 0 60px;
     
}
.loginRegister{
	background: #111d27;
	opacity: 0.8;
	  /*  background: rgb(0, 0, 0);*/
}
.GirisQeydiyyat li{
    display: inline-block;
    margin-top: 12px;
    margin-left: 11px;
    font-size: 18px;
    font-weight: 600;
    color: #fe5d4c;
}
.GirisQeydiyyat li a{
	color: #fe5d4c;
	text-decoration: none; 
}
.social li{
	display: inline-block;
	float: right;
	margin: 10px;
	font-size: 20px;
}



.social li a{
	color: #fe5d4c;

}



/*//navbar*/
.navbar{
	height: 60px;
    background: #fe5d4c;
}
.navbar-toggle .icon-bar:nth-of-type(2) {
    top: 1px;
}

.navbar-toggle{
    background: white;
}
.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
    top: 6px;
    transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
    background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
    top: -6px;
    transform: rotate(-45deg);
}

.navbarLogo img {
    margin-right: 30px;
    width: 50px;
    margin-top: -10px;
}

.navbarLeft {
    float: left;

}
.navbarLeft li a:hover{

   background: transparent;
   /*text-decoration: underline;*/
   border-bottom: 3px solid #fe5d4c;
   transition: 0.5s ease-out;
}
.navbarLeft li a{
	color: white;
	font-size: 20px;
	 font-weight: 600;
  
}
.navbarRight {
    float: right;
}
.icon-bar{
	background-color:#fe5d4c !important;
}



/*
slide bolmesi*/


body { padding-top: 20px; }
#myCarousel .nav a small {
    display:block;
}
#myCarousel .nav {
    background:#eee;
}
#myCarousel .nav a {
    border-radius:0px;
}
.slider li a img {
        max-width: 100% !important;
}

.elaninAdi{
    /*text-align: center;*/
    font-size: 20px;
     font-weight: 600;
}





/*axtaris*/


.Umumiaxtaris{
    margin-top: 50px;
}
.search{
    background: #111d27;
    opacity: 0.8;
    padding: 25px 0 50px 0;
    /*height: 505px;*/
}

.searchText{
    color: white;
    font-weight: 600;
    padding: 0px 30px;
}
.sel1 , .sel2 , .sel3{
    color: white;
}
.form-group{
    padding: 0 30px;
}
.qiymet , .otaqSayi{
    padding: 0;
}
/*.otaqSayi{
    margin-top: 8px;
}*/
.qiymetmax,.qiymetmin,.otaqSayimax,.otaqSayimin{
    padding: 4px 2px;
}
/*.axtarisButtonu{
    margin-top: 170px;
}*/

.axtar{
    background: #fe5d4c;
}
.axtar a{
    text-decoration: none; 
    color: white;
    font-size: 25px;
    width: 100%;
}
.axtarisButtonu{
    padding: 0px 90px;
    margin-top: 10px;
}

.axtarisButtonu :hover{
    background: white;
    color: #fe5d4c;
} 
.axtarisButtonu a:hover{
    color: #fe5d4c;
} 





/*ev haqqinda melumat*/
.evHaqqindaMelumat1 , .EvinTesviri , .evinParametrleri , 
.evinXeritesi , .EvinSahibi{
    border-bottom: 1px solid grey;
}
.evHaqqindaMelumat1 h1 , .EvinTesviri h1 ,
.evinParametrleri h1 , .evinXeritesi h1 , .EvinSahibi h1{
    padding: 11px 0 35px;
    margin: 39px 0 0;
    font-size: 30px;
    font-weight: 600;
    color: #fe5d4c;
}
.EvinTesviri p{
    font-size: 16px;
    line-height: 1.5;    
    color: #889298;
    margin-bottom: 30px;
}

.evHaqqindaMelumat1 h1 span{
    color: #0a1923;
}

.evinParametrleri dl{
    margin-bottom: 30px;
}

.xerite{
    margin-bottom: 30px;
    height: 500px;
    background: grey;
}


.EvinSahibi img{
    max-width: 100% !important;
    padding: 0;
    margin: 10px -11px 0;
}

.EvSahibininMelumatlari h1{
    padding: 6px 0px;
    margin: 0;
    font-size: 25px;
   /* font-weight: 600;*/
    color: black;
}
.EvSahibininMelumatlari p{
    font-size: 16px;
    line-height: 1.5;
    color: #889298;
    /* margin-bottom: 18px; */
    margin-top: 30px; 
}
.evSahibininNomresi{
    margin-top: 25px;
}

.evSahibininNomresi i {
    color: #fe5d4c;
    font-size: 30px;
    font-weight: 600;
    padding-right: 10px;
}
.evSahibininNomresi a {
color: black;
    text-decoration: none;
}
.EvSahibininSocial{
    margin: 0px -45px 0px;
}
.EvSahibininSocial{
    margin-bottom: 35px;
}
.EvSahibininSocial li {
    display: inline-block;
   /* float: right;*/
    margin: 10px;
    font-size: 20px;
}

.EvSahibininSocial li a{
    color: #fe5d4c;

}
.EvSahibininSocial ul{

    margin-top: 20px;
}










/*Son elanlar*/
.sonElanlar{
    border-top: 1px solid grey;
    margin: 40px 0px 0px 0px;
}
.sonElanlar h1{
    padding: 11px 0 0;
    margin: 39px -10px 0;
    font-size: 30px;
    font-weight: 600;
    color: #fe5d4c;
}

.SonElanlarImg img {
        max-width: 100% !important;
        margin: 0 -10px;
}
.SonElanlarImg{
    margin-top: 25px;
}
.SonElanlarMelumatlari{
    /*text-align: center;*/
    margin-top: 25px;
}
.SonElanlarMelumatlari h6 a {
    color: black;
    
}
.SonElanlarMelumatlariYeri{
    margin: 0px -11px 0;
}
.SonElanlarMelumatlari h6{
        /* margin-top: 25px; */
    padding: 0px 0 0;    
    font-size: 16px;
    font-weight: 600;
    color: #fe5d4c;
}
.SonElanlarMelumatlariQiymeti{
    margin-top: 10px;
    margin-left: -11px;
}

.SonElanlarMelumatlari p{
    font-size: 16px;
    line-height: 1.5;    
    color: #889298;
    margin: 30px -11px;
}
.SonElanlarMelumatlariIcon p{
    color: #889298;
    margin: -25px 20px;
    font-size: 12px;
}
.SonElanlarMelumatlariIcon i{
    color: #fe5d4c;
    font-size: 30px;
    padding: 0px 0 0;
    font-weight: 600;
    margin: 0px -11px;
}
.SonElanlarEtrafliBax button{
       background: #fe5d4c;
    margin-top: 50px;
    text-align: center;
}
.SonElanlarEtrafliBax button a{
        color: white;
    font-weight: 600;
    font-size: 16px;
   text-transform: uppercase;
    line-height: 1;
    display: inline-block;
    padding: .75em .9375em;
    text-decoration: none; 

}
.SonElan2 , .SonElan3{
    margin-top: 20px;
}
/*.SonElan1 , .SonElan2 , .SonElan3{
    border-bottom: 1px solid grey;
}*/


.orange{
     background:#fe5d4c;
     height: 50px;
     margin-top: 50px;
}

.footer{
    background: #0a1923;
    height: 100px;
    text-align: center;
}

.FoutureText p{
color: white;
padding-top:43px;
}


.YaddaSaxla{
    margin-top: 15px;
    padding: 0 33px;
}

.YaddaSaxla button{
    background: none;
    border: 2px solid #fe5d4c;
   
}
.YaddaSaxla button a{
        color: white;
    font-weight: 600;
    font-size: 16px;
   text-transform: uppercase;
    line-height: 1;
    display: inline-block;
    padding: .75em .9375em;
    text-decoration: none; 

}